.footer{
  background: #050505;
}

.footer-container{
  max-width: 1200px;
  padding: 7.5rem 1.25rem 3.75rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-items: center;

}
.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--vermelhoclaro1);
}
.footer-contato li{
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--base1);
  margin-bottom: 1.875rem;
}
.social a i{
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--base1);
  margin-bottom: 1.875rem;
  gap: 2rem;
}
.footer-copy{
  display: flex;
  grid-column: 1/ -1;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.footer-copy p{
  font-size: 1.25rem;
  color: var(--base1);
}
.footer-copy img{
  width: 8rem;
}
@media(max-width: 800px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li{
    font-size: 1.5rem;
  }
}