* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--vermelhob2);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
}

.title{
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;  
  max-width: 4ch;
  color: var(--vermelhoclaro3);
}

@media(max-width: 800px){
  .title{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}