.header{
  background: var(--base2);
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}

.header-menu a{
  font-size: 1.25rem;
  line-height:  1.3;
  padding: 0.625rem 1.25rem;
  color: var(--vermelhob2);
  display: block;

}
.header-menu a:hover{
  color: var(--vermelho);
}

@media(max-width:800px){
  .header{
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.25rem;
  }
  .header-menu a{
    border: .1rem solid var(--vermelho);
    color: var(--vermelhob1);
    border-radius: .5rem;
    cursor: pointer;
  }

}